{% assign reveal_path = site.reveal_path | default: "node_modules/reveal.js" %}
<script src="{{ site.baseurl }}/{{ reveal_path }}/js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				hash: true,
				dependencies: [
					{ src: '{{ reveal_path }}/plugin/markdown/marked.js' },
					{ src: '{{ reveal_path }}/plugin/markdown/markdown.js' },
					{ src: '{{ reveal_path }}/plugin/highlight/highlight.js' },
					{ src: '{{ reveal_path }}/plugin/notes/notes.js', async: true }
				]
			});
		</script>
